<!-- BEGIN PAGE HEADER-->
<style>
input:required {
    box-shadow:none;
}
/*input:invalid {
    box-shadow:0 0 3px red;
}*/
.bootstrap-datetimepicker-widget{
	display: block;
}
.bootstrap-datetimepicker-widget .datepicker-days{
	display: block;
}
</style>
<div class="breadCrumb" ng-controller="activeController">
    <div class="col-md-6">
    <ul class="page-breadcrumb">
        <!--<li>
            <i class="fa fa-home"></i>
            <a href="javascript:void(0);" translate ng-click="goToHome()">Sidebar.Home</a>
            <i class="fa fa-angle-right"></i>
        </li>-->
        <li>
            <i class="fa fa-building-o"></i>
            <a href="javascript:void(0);" translate>Sidebar.BankData</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#/app/mpitemplate" translate>Sidebar.MPITemplate</a>
            <i class="fa fa-angle-right"></i>

        </li>
        <li>
            {{fromAddNew ? 'Add New' : ViewClicked ? 'View' : 'Edit'}}
        </li>
    </ul>
    </div>
     <div class="col-md-6 headerVals">
        <div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>
    </div>
</div>

<div class="contentContainer" style="padding: 0px 35px 35px;">

<div class ="animated bounce autoAdjustAlert bold" ng-repeat="alert in alerts" ng-style="{'top':alertStyle+'px','width':alertWidth+'px'}" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}" >
    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{alert.msg}}
</div>

<div >
    
    
    <div class="panel panel-default" style="margin-top:40px;" ng-if="ViewClicked && !fromAddNew">

        <div class="panel-heading" style="background-color:transparent;">

            <div class="col-md-10 serviceHeading" ng-style="{'color':(FXRate.Status | chooseStatus)}"> {{FXRate.TemplateName}}<br>
		    </div>

            <div class="col-md-2 serviceHeading" ng-style="{'color':(FXRate.Status | chooseStatus)}" ng-if="FXRate.Status">
                <div class="col-md-2" style="padding: 0;text-align: center;">
                   <i style="font-size: 20px;line-height:20px;" class="fa fa-circle ng-scope" tooltip="{{FXRate.Status}}" tooltip-placement="bottom"></i>
                </div>
                <div class="col-md-8 ng-binding" style="padding: 0;">{{FXRate.Status}}</div>
            </div>

            <div class="clearfix"></div>
           

        </div>

        <div class="panel-body" style="padding:9px 15px;background-color:#f9f9f9">
            <div class="col-md-10" style="padding-left:0px;">
                Effective Date : 
                <span class="ng-binding">{{FXRate.EffectiveFromDate}}</span>
            </div>
            <div class="col-md-2">
                <a style="display:inline-block" class="actionIcons" ng-style="(permission.U)? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}" ng-click="(permission.U)?gotoEdit():''" tooltip="{{(permission.U)?'Edit':'You don&lsquo;t have permission'}}"><i class="fa fa-pencil-square-o Iclr1"></i></a>

                <a style="display:inline-block" class="actionIcons" data-toggle="modal" data-target="{{(permission.D)?'#delPopup':''}}" ng-style="(permission.D)? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}" ng-click="(permission.D)?takeDeldata(FXRate):''" tooltip="{{(permission.D)?'Delete':'You don&lsquo;t have permission'}}"><i class="fa fa-trash-o Iclr1"></i></a>
            </div>
        </div>
    </div>




    <div class="panel-group" style="border:1px solid #ccc;"  ng-if="ViewClicked && !fromAddNew">

        <div class="row" style="margin:0;line-height:30px;">
            <div class="row" style="margin:0;margin-top:10px;margin-bottom:34px;padding-left:0px;">
                <div class="row" ng-repeat="field in strData" style="margin:0;" ng-style="($index%2 == 0)?{'background-color': 'rgb(245, 245, 245)'}:{'background-color': '#fff'}" ng-if="(field.label != 'Template') && (field.label != 'MPITemplate_PK')">
                    <label class="control-label bold col-md-3 col-sm-3"><span class="col-md-11 ng-binding">{{field.label | camelCaseFormatter}}</span> <span class="col-md-1">:</span> </label>
                    <div class="control-label col-md-9 col-sm-9 ng-binding subserviceInfo">
                        <span class="ng-binding">{{field.value}}</span>
                    </div>

                </div>
            </div>
        </div>
 <div class="row" style="margin:0;margin-top:65px;" ng-if="editedLog.length">
                <div class="col-md-12 bold control-label" style="margin:0;font-size:16px;">EDIT LOG</div>
                <ul style="line-height:35px;margin-top:30px">
                    <li ng-repeat="log in editedLog" style="padding: 0px 15px;">
                        <div style="display:block;word-break: break-all;">
                            <span style="float: left; width: 100%; padding: 0px 15px;"> <i class="fa fa-circle" aria-hidden="true" style="margin-right: 12px; font-size: 12px;line-height: 12px;"></i>  {{log.action}} on {{log.userAuditTimeStamp | dateFormat}} by {{log.UserId}}
                        </span></div>
                       
                    </li>
                </ul>
 </div>




    </div>
    


</div>


<!-- Delete popup Window Start-->
<div class="modal fade" tabindex="-1" id="delPopup" role="dialog">
    <div class="modal-dialog modal-md" style="top: 200px;">
        <div class="modal-content modalbdy animated tada">
            <div class="modal-header" style="padding: 0px !important; border: 0px !important">
                <div class="iconBox"><i class ="exclaLine"></i><i class ="exclaDot"></i></div>
            </div>
            <div class="modal-body" style="padding: 0px !important; border: 0px !important">
                <h1>Are you sure?</h1>
                <h4>You will not be able to recover this Data!</h4>
            </div>
            <div class="modal-footer modalftr">
                <button tabindex="0" type="button" class="buton cancl" data-dismiss="modal">Cancel</button>
                <button tabindex="0" type="button" class="buton yess" ng-click="deleteData();">Yes, delete it!</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete popup Window End-->

<div>


    <div class="pageTitle alertWidthonResize" ng-if="!ViewClicked && !fromAddNew">
        <div class="row">
            <div class="col-sm-12 ng-binding" ng-style="{'color':(parentInput.fieldData | chooseColor)}" style="color: rgb(65, 85, 195);">
                <div class="title__container">
                <h2 translate>MPITemplates.Edit</h2>
                 <p translate> Branch.ForMandatory</p>
                 </div>
            </div>
        </div>
    </div>
	
	
	
	 <div class="pageTitle alertWidthonResize" ng-if="(!ViewClicked && fromAddNew)">
        <div class="row">
            <div class="col-sm-12 ng-binding" ng-style="{'color':(parentInput.fieldData | chooseColor)}" style="color: rgb(65, 85, 195);">
                <div class="title__container">
                <div class="row">
                <div style="width:6%;float:left;">
                <h2 translate >BtnGroup.AddNew</h2>                
                </div>
                <div style="width:10%;float:left;">
                        <h2 translate >MPITemplates.PageTitle</h2>
                </div>
                <div class="clearfix"></div>
                <p translate>Branch.ForMandatory</p>
                </div>
            </div>

                </div>
        </div>

    </div>

    <div class="row" ng-if="(!ViewClicked)">

<form class="form-horizontal" id="MPIForm" role="form" name="benelistForm" ng-submit="createData(PaymentDetails,OrderingCustomer,BeneficiaryBank,Beneficiary,RemittanceInformation,psaCode11,PaymentBranch,party,service11,IntermediaryBankDetails,OrderingCustomerAccountNumber,ProductsSupported123,SaveTemplate,TemplateDetails);">
	
	  <div class="panel rolesPanel">
         <div class="panel-heading fileListStyle" ng-click="isPaymentDetailsCollapsed = !isPaymentDetailsCollapsed">
            <span class="bold">Payment Details</span>
            <div class="pull-right">
               &nbsp;&nbsp;&nbsp;<i style="padding-top:2px;" class="pull-right bold fa fa-angle-right" ng-class="{'fa-angle-down': !isPaymentDetailsCollapsed, 'fa-angle-right': isPaymentDetailsCollapsed}"></i>
            </div>
         </div>
         <div collapse="isPaymentDetailsCollapsed">
			<div class="row" style="margin: 15px !important;">
               <div class="form-group">
                  <label class="control-label col-md-2">Party				 
                  <span class="alertMsg" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                  </label>
                  <div class="col-md-4" ng-class="{true: 'error'}[updatesubmitted && benelistForm.party.$invalid]">
                     <select class="form-control appendselect2" id="PartyCode" name="party" ng-model="party" ng-required = "true" ng-change="getServiceList(party)">
                        <option value="">--Select--</option>
                        <option ng-repeat="party in partyOptions" value="{{party}}">{{party.PartyName | underscoreRemove}} </option>
                     </select>
                  </div>
                  <span ng-show="updatesubmitted && benelistForm.party.$error.required" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>
               </div>
            
			<div class="form-group">
                  <label class="control-label col-md-2">Service
                  <span class="alertMsg" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                  </label>
                  <div class="col-md-4" ng-class="{true: 'error'}[updatesubmitted && benelistForm.service.$invalid]">
                     <select class="form-control" name="service11" ng-model="service11" ng-required="true" ng-change="getPSAbyPartyService(party,service11)" ng-if="((serviceOptions.length==1)||(serviceIsNotSingle))">
                        <option value="">--Select--</option>
                        <option ng-repeat="service in serviceOptions" value="{{service.ServiceCode}}">{{service.ServiceName | underscoreRemove}}</option>
                     </select>
                     <select class="form-control" name="service11" ng-model="service11" ng-required="true" ng-change="getPSAbyPartyService(party,service11)" ng-if="(serviceOptions.length>1)">
                        <option value="" selected>--Select--</option>
                        <option ng-repeat="service in serviceOptions" value="{{service}}">{{service.ServiceName | underscoreRemove}}</option>
                     </select>
                  </div>
                  <span ng-show="updatesubmitted && benelistForm.service.$error.required" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>
               </div>
			<div class="form-group">
                  <label class="control-label col-md-2">Party Service Association Code  
                  <span class="alertMsg" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                  </label>
                  <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && benelistForm.psaCode.$invalid]">
                     <select class="form-control" id="Filechannel" name="psaCode" ng-model="psaCode11" ng-if="selectOptions.length==1" ng-required="true" ng-change="getPaymentDetailsByPSA(psaCode11)">
                        <option value="" selected>--Select--</option>
                        <option ng-repeat="psaCode in selectOptions" value="{{psaCode.PartyServiceAssociationCode}}">{{psaCode.PartyServiceAssociationCode | underscoreRemove}}</option>
                     </select>
                     <select class="form-control" id="Filechannel" name="psaCode" ng-model="psaCode11" ng-if="selectOptions.length>1" ng-required="true" ng-change="getPaymentDetailsByPSA(psaCode11)">
                        <option value="" selected>--Select--</option>
                        <option ng-repeat="psaCode in selectOptions" value="{{psaCode}}">{{psaCode.PartyServiceAssociationCode | underscoreRemove}}</option>
                     </select>
                  </div>
                  <span ng-show="updatesubmitted && benelistForm.psaCode.$error.required" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>
               </div>
				<div class="form-group">
                  <label class="control-label col-md-2">Branch
                  <span class="alertMsg" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                  </label>
                  <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && benelistForm.option1.$invalid]">
                     <select class="form-control" id="Filechannel" name="Branch" ng-model="PaymentBranch" ng-required="true">
                        <option value="">--Select--</option>
                        <option ng-repeat="option1 in branchList" value="{{option1.BranchCode}}">{{option1.BranchName | underscoreRemove}}</option>
                     </select>
                  </div>
                  <span ng-show="updatesubmitted && benelistForm.option1.$error.required" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2">Products Supported
                  <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                  </label>
                  <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && benelistForm.PaymentType.$invalid]">
                     <select class="form-control " name="PaymentType" ng-model="ProductsSupported123" ng-change="getPaymentTypeDetails(ProductsSupported123,service11)" ng-required="true">
                        <option value="" selected>--Select--</option>
                        <option ng-repeat="PT in ProductsSupported" value="{{PT}}">{{PT}}</option>
                     </select>
                  </div>
                  <span ng-show="updatesubmitted && benelistForm.PaymentType.$error.required" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2">Messages Type
                  <span class="alertMsg" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                  </label>
                  <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && benelistForm.MessageType.$invalid]">
                     <select class="form-control " name="MessageType" ng-required="true" ng-model="PaymentDetails.MessageType" ng-change="getPaymentType(PaymentDetails.MessageType)">
                        <option value="">--Select--</option>
                        <option value="{{MT.actualValue}}" ng-repeat="MT in forUSRTP.MessageType track by $index">{{MT.displayValue}}</option>
                     </select>
                  </div>
                  <span ng-show="updatesubmitted && benelistForm.MessageType.$error.required" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2">Value Date					 
                  <span class="alertMsg" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                  </label>
                  <div class="input-group col-md-3 input-append" ng-class="{true: 'error'}[updatesubmitted && updateFXRateform.ApplicableDate.$invalid]" style="padding-right:15px;padding-left:12px;float:left;" >
                     <input class="form-control DatePicker" type="text" name="ValueDate" ng-model="PaymentDetails.ValueDate" placeholder="Please Select Value Date" ng-required="true"  onkeypress='return tabOrder(event)' ng-blur="multipleEmptySpace($event)" ng-focus="activatePicker($event)" ng-disabled="false">
                     <span class="input-group-addon cursorPointer" ><span class="glyphicon glyphicon-calendar"></span></span>
                  </div>
                  <span class="help-inline" ng-show="updatesubmitted && updateFXRateform.ApplicableDate.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2">
                     Debtor Customer Proprietary Code
                     <!-- <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span> -->
                  </label>
                  <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && benelistForm.DebtorCustomerProprietaryCode.$invalid]">
                     <select class="form-control checkSelectEntry" name="DebtorCustomerProprietaryCode" ng-model="PaymentDetails.DebtorCustomerProprietaryCode" ng-change="getBeneficiaryCountry(PaymentDetails.DebtorCustomerProprietaryCode)" ng-disabled="service11!='RPX'">
                        <option value="">--Select--</option>
                        <option value="{{MT.actualValue}}" ng-repeat="MT in forUSRTP.DebtorCustomerProprietaryCode track by $index">{{MT.displayValue}}</option>
                     </select>
                  </div>
                  <span ng-show="updatesubmitted && benelistForm.DebtorCustomerProprietaryCode.$error.required" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2">Payment Currency
                  <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                  </label>
                  <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && benelistForm.PaymentCurrency.$invalid]">
                    
                     <select class="form-control checkSelectEntry" name="PaymentCurrency" ng-model="PaymentDetails.PaymentCurrency" ng-required="true">
                        <option value="">--Select--</option>
                        <option value="{{MT}}" ng-repeat="MT in forUSRTP.PaymentCurrency track by $index">{{MT}}</option>
                     </select>
					 
                  </div>
                  <span ng-show="updatesubmitted && benelistForm.PaymentCurrency.$error.required" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2">Amount 
                  <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                  </label>
                  <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && benelistForm.Amount.$invalid]">
                     <input type="text" class="form-control allownumericwithdecimal" maxAllowDigit="{{CurrencyDecimalDigits}}" name="Amount" placeholder="Please Enter Amount" ng-model="PaymentDetails.Amount" ng-required="true"  onkeypress="return isNumberKey(event,this)"/>
                  </div>
                  <span ng-show="updatesubmitted && benelistForm.Amount.$error.required" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>
               </div>	
				<div class="form-group">
                  <label class="control-label col-md-2">Charge Code
                  </label>
                  <div class="col-md-3">
                     <input type="text" class="form-control " placeholder="Please Enter Charge Code" name="ChargeCode" ng-model="PaymentDetails.ChargeCode" value="" ng-if="ChargeCodelength<=1"/> 
                     <select class="form-control checkSelectEntry" placeholder="Please Enter Charge Code" name="ChargeCode"  ng-model="PaymentDetails.ChargeCode" ng-if="ChargeCodelength>1">
                        <option value="">--Select--</option>
                        <option value="{{MT.SupportedChargeCodes}}" ng-repeat="MT in forUSRTP.ChargeCode track by $index">{{MT.SupportedChargeCodes}}</option>
                     </select>
                  </div>
                  <!--                     <span class="alertMsg" ng-if="(fieldMandatory)&&(!PaymentDetails.ChargeCode)" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">Required</span>
                     -->                
               </div>
		 </div>
      </div>
      </div>
	  <div class="panel rolesPanel">
         <div class="panel-heading fileListStyle" ng-click="isOrderingCustomerCollapsed = !isOrderingCustomerCollapsed">
            <span class="bold"></span>
            <span class="bold" ng-if="PaymentTypePushPull.actualValue!='PULL MESSAGE'">Ordering Customer</span>
            <span class="bold" ng-if="PaymentTypePushPull.actualValue=='PULL MESSAGE'">Beneficiary Customer</span>
            <div class="pull-right">
               &nbsp;&nbsp;&nbsp;<i style="padding-top:2px;" class="pull-right bold fa fa-angle-right" ng-class="{'fa-angle-down': !isOrderingCustomerCollapsed, 'fa-angle-right': isOrderingCustomerCollapsed}"></i>
            </div>
         </div>
         <div collapse="isOrderingCustomerCollapsed">
            <div class="row" style="margin: 15px !important;">
               <div class="form-group">
                  <label class="control-label col-md-2">Client ID
                  <!-- <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span> -->
                  </label>
                  <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && benelistForm.ClientID.$invalid]">
                     <select class="form-control checkSelectEntry" name="ClientID" ng-model="OrderingCustomer.ClientID">
                        <option value="">--Select--</option>
                        <option value="{{MT.actualvalue}}" ng-repeat="MT in ClientID123 track by $index">{{MT.displayvalue}}</option>
                     </select>
                     <!--  <input type="text" class="form-control " name="ClientID" ng-model="OrderingCustomer.ClientID" ng-required="true"/> -->
                  </div>
                  <span ng-show="updatesubmitted && benelistForm.ClientID.$error.required" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2">Name
                  </label>
                  <div class="col-md-3">
                     <input type="text" class="form-control " name="ClientName" ng-model="OrderingCustomer.ClientName"  placeholder="Please Enter Name" />
                  </div>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2">Address Line 1
                  </label>
                  <div class="col-md-3">
                     <input type="text" class="form-control " name="ClientAddressLine1" ng-model="OrderingCustomer.ClientAddressLine1"  placeholder="Please Enter Address Line 1"  />
                  </div>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2">Address Line 2
                  </label>
                  <div class="col-md-3">
                     <input type="text" class="form-control " name="ClientAddressLine2" ng-model="OrderingCustomer.ClientAddressLine2"   placeholder="Please Enter Address Line 2" />
                  </div>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2">City
                  </label>
                  <div class="col-md-3">
                     <input type="text" class="form-control " name="ClientCountryCity" ng-model="OrderingCustomer.City"  placeholder="Please Enter City"  />
                  </div>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2">State
                  </label>
                  <div class="col-md-3">
                     <input type="text" class="form-control " name="ClientCountryState" ng-model="OrderingCustomer.State"  placeholder="Please Enter State"  />
                  </div>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2">Post Code
                  </label>
                  <div class="col-md-3">
                     <input type="text" class="form-control " name="ClientCountryPostCode" ng-model="OrderingCustomer.PostCode"  placeholder="Please Enter PostCode"  />
                  </div>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2">Country
                  </label>
                  <div class="col-md-3">
                     <input type="text" class="form-control " name="ClientCountryCode" ng-model="OrderingCustomer.Country"  placeholder="Please Enter Country Code"  />
                  </div>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2">Account number
                  <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                  </label>
                  <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && benelistForm.AccountNumber.$invalid]">                    
                    <!--  <input type="text" class="form-control " ng-init="OrderingCustomer.AccountNumber=AccountNumber11[0].AccountNo" name="AccountNumber" ng-if="AccountNumber11.length==1" ng-model="OrderingCustomer.AccountNumber"/>
					 
                     <input type="text" class="form-control " name="AccountNumber" ng-if="((!OrderingCustomer.AccountNumber)&&(!AccountNumber11.length>=1))" ng-model="OrderingCustomer.AccountNumber"/> -->
					 
                     <!--  ng-init="OrderingCustomer.AccountNumber=AccountNumber[0]" -->
                     <!-- <input type="text" class="form-control " name="AccountNumber" ng-if="AccountNumber11.length!=1" ng-model="OrderingCustomer.AccountNumber"/> -->
					 
                     <!--  ng-init="OrderingCustomer.AccountNumber=AccountNumber[0]" -->
					 <input type="text" class="form-control " placeholder="Select the Account Number" name="AccountNumber" ng-model="OrderingCustomerAccountNumber" ng-if="OrderingCustomerAccountNumber_length==0"/>
					 
                     <select class="form-control " ng-if="OrderingCustomerAccountNumber_length!=0" name="OrderingCustomer_AccountNumber" placeholder="Select the Account Number" ng-model="OrderingCustomerAccountNumber" ng-change="getAccountNumberCurrency(OrderingCustomerAccountNumber)" ng-required="true">
                        <option value="{{Acc}}" ng-repeat="Acc in AccountNumber11 track by $index">{{Acc.AccountNo}}</option>
                     </select>
                  </div>
                  <span ng-show="updatesubmitted && benelistForm.AccountNumber.$error.required" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2">Account Currency
                  </label>
                  <div class="col-md-3">
                     <!-- <input type="text" class="form-control " name="AccountCurrency" ng-model="OrderingCustomer.AccountCurrency"   placeholder="Please Enter Account Currency" /> -->
                     <select class="form-control " name="AccountCurrency" ng-model="OrderingCustomer.AccountCurrency" ng-required="true">
                        <option value="" selected>--Select--</option>
                        <option ng-repeat="PT in OrderingCustomer_AccountCurrency" value="{{PT}}">{{PT}}</option>                            
                        </select> 
                  </div>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2">Account Name
                  </label>
                  <div class="col-md-3">
                     <input type="text" class="form-control " name="AccountName" ng-model="OrderingCustomer.AccountName"   placeholder="Please Enter Account Name "/>
                  </div>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2">Account Domiciled Country
                  </label>
                  <div class="col-md-3">
                     <!-- <input type="text" class="form-control " name="AccountDomiciledCountry" ng-model="OrderingCustomer.AccountDomiciledCountry" /> -->
                     <select class="form-control " name="AccountDomiciledCountry" placeholder="Select the Account Domiciled Country" ng-model="OrderingCustomer.AccountDomiciledCountry">
                        <option value="" selected disabled>Select the Account Domiciled Country</option>
                        <option value="{{ADC.CountryCode}}" ng-repeat="ADC in AccountDomiciledCountry track by $index">{{ADC.CountryCode}}</option>
                     </select>
                  </div>
               </div>
            </div>
         </div>
      </div>
	  <div class="panel rolesPanel">
         <div class="panel-heading fileListStyle" ng-click="isBenenficiaryBankDetailsCollapsed = !isBenenficiaryBankDetailsCollapsed">
            <span class="bold" ng-if="PaymentTypePushPull.actualValue!='PULL MESSAGE'">Beneficiary Bank Details</span>
            <span class="bold" ng-if="PaymentTypePushPull.actualValue=='PULL MESSAGE'">Debtor Bank Details</span>
            <div class="pull-right">
               &nbsp;&nbsp;&nbsp;<i style="padding-top:2px;" class="pull-right bold fa fa-angle-right" ng-class="{'fa-angle-down': !isBenenficiaryBankDetailsCollapsed, 'fa-angle-right': isBenenficiaryBankDetailsCollapsed}"></i>
            </div>
         </div>
         <div collapse="isBenenficiaryBankDetailsCollapsed">
            <div class="row" style="margin: 30px !important;">
               <div class="form-group">
                  <div class="form-group">
                     <label class="control-label col-md-2">Bank Identifier Type
                     <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                     </label>
                     <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && benelistForm.BankIdentifierType1.$invalid]">                       
                        <select class="form-control checkSelectEntry" name="BankIdentifierType1" ng-model="BeneficiaryBank.BankIdentifierType" ng-change="getBankIdentifierCode(BeneficiaryBank.BankIdentifierType)" ng-required="true">
                           <option value="">Select the Bank Identifier Type</option>
                           <option value="{{MT.ClearingSchemeCode}}" ng-repeat="MT in forUSRTP.BICCode track by $index">{{MT.ClearingSchemeCode}}</option>
                        </select>
                     </div>
                     <span ng-show="updatesubmitted && benelistForm.BankIdentifierType1.$error.required" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-2">Bank Identifier Code
                     <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                     </label>
                     <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && benelistForm.BIC.$invalid]">
                      
                        <input type="text" ng-if="BeneficiaryBank.BankIdentifierType =='BIC'" class="form-control " name="BIC" ng-model="BeneficiaryBank.BankIdentifierCode" placeholder="Please Enter BIC" ng-blur="getBIC_Address(BeneficiaryBank.BIC)" ng-required="true"/>
                        <select class="form-control " ng-if="BeneficiaryBank.BankIdentifierType!='BIC'" name="BIC1" ng-model="BeneficiaryBank.BankIdentifierCode" ng-change="getBankDetails(BeneficiaryBank)" ng-required="true">
                           <option value="" selected disabled>Select the Bank Identifier Code</option>
                           <option value="{{BIC123.SchemeParticipantIdentifer}}" ng-repeat="BIC123 in BankIdentifierCode123 track by $index">{{BIC123.SchemeParticipantIdentifer}}</option>
                        </select>
                     </div>
                     <span ng-show="updatesubmitted && benelistForm.BIC.$error.required" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-2">Address Line 1
                     </label>
                     <div class="col-md-3">
                        <input type="text" class="form-control " name="BeneficiaryBankAddressLine1" ng-model="BeneficiaryBank.BankAddressLine1" placeholder="Please Enter Address Line 1"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-2">Address Line 2
                     </label>
                     <div class="col-md-3">
                        <input type="text" class="form-control " name="BeneficiaryBankAddressLine2" ng-model="BeneficiaryBank.BankAddressLine2" placeholder="Please Enter Address Line 2"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-2">City
                     </label>
                     <div class="col-md-3">
                        <input type="text" class="form-control " name="BeneficiaryBankCountry" ng-model="BeneficiaryBank.City" placeholder="Please Enter City"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-2">State
                     </label>
                     <div class="col-md-3">
                        <input type="text" class="form-control " name="BeneficiaryBankCountry" ng-model="BeneficiaryBank.State" placeholder="Please Enter State"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-2">Post Code
                     </label>
                     <div class="col-md-3">
                        <input type="text" class="form-control " name="BeneficiaryBankCountry" ng-model="BeneficiaryBank.PostCode" placeholder="Please Enter PostCode"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-2">Country
                     </label>
                     <div class="col-md-3">
                        <input type="text" class="form-control " name="BeneficiaryBankCountry" ng-model="BeneficiaryBank.Country" placeholder="Please Enter  Country"/>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
	  <div class="panel rolesPanel">
         <div class="panel-heading fileListStyle" ng-click="isBenenficiaryDetailsCollapsed = !isBenenficiaryDetailsCollapsed">
            <span class="bold" ng-if="PaymentTypePushPull.actualValue!='PULL MESSAGE'">Beneficiary Details</span>
            <span class="bold" ng-if="PaymentTypePushPull.actualValue=='PULL MESSAGE'">Debtor Details</span>
            <div class="pull-right">
               &nbsp;&nbsp;&nbsp;<i style="padding-top:2px;" class="pull-right bold fa fa-angle-right" ng-class="{'fa-angle-down': !isBenenficiaryDetailsCollapsed, 'fa-angle-right': isBenenficiaryDetailsCollapsed}"></i>
            </div>
         </div>
         <div collapse="isBenenficiaryDetailsCollapsed">
            <div class="row" style="margin: 15px !important;">
               <div class="form-group">
                  <label class="control-label col-md-2">Account Number
                  <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                  </label>
                  <label class="control-label col-md-2" ng-if="(PaymentType =='USA Real Time')||(PaymentType == '')">Account Number
                  <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                  </label>
                  <label class="control-label col-md-2" ng-if="(PaymentType =='SEPA')">IBAN
                  <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                  </label>
                  <div class="col-md-2" style="text-align:right;" ng-if="PaymentType=='SWIFT'">
                     <div class="btn-group">
                        <label class="btn btn-md togBtn toggleOn" ng-click="toggleSwitch($event)" data-toggle="tooltip" title="" data-original-title="List View"><span><i class="fa fa-check-circle checkIcon" aria-hidden="true"></i></span> <span>IBAN</span>
                        <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                        </label>
                        <label class="btn btn-md togBtn toggleOff" ng-click="toggleSwitch($event)" data-toggle="tooltip" title="" data-original-title="Grid View"><span></span> <span>Account Number</span>
                        <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                        </label>
                     </div>
                  </div>
                  <div class="col-md-3 fieldArea" ng-class="{true: 'error'}[updatesubmitted && benelistForm.AccountNumber1.$invalid]">
                     <input type="text" class="form-control " name="AccountNumber1" ng-model="Beneficiary.AccountNumber" placeholder="Please Enter Account Number" onkeydown="return allowOnlyNumbersAlone(event)" ng-required="true" ng-if="BeneficiaryBank.BankIdentifierType.length"/>
                     <select class="form-control appendselect21" id="AllAccountNumber" name="AccountNumber"  ng-model="Beneficiary.AccountNumber" ng-required = "true" ng-if="!BeneficiaryBank.BankIdentifierType.length" ng-change="getAccountDetails(Beneficiary.AccountNumber)">
                        <option value="">--Select--</option>
                        <option ng-repeat="party in AccountNumberDrop" value="{{party}}">{{party.AccountNo | underscoreRemove}}</option>
                     </select>
                     <input type="text" class="form-control " name="IBAN" ng-model="manual.IBAN" placeholder="Please Enter IBAN" ng-if="(PaymentType =='SEPA')" ng-required="true"/>
                     <input type="text" class="form-control " name="IBAN" ng-model="Beneficiary.IBAN" ng-if="(PaymentType == 'SWIFT')" placeholder="Please Enter IBAN" ng-required="true"/>
                  </div>
                  <span ng-show="updatesubmitted && benelistForm.AccountNumber1.$error.required" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2"> Name
                  <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                  </label>
                  <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && benelistForm.BeneficiaryName.$invalid]">
                     <input type="text" class="form-control " name="BeneficiaryName" ng-model="Beneficiary.Name" placeholder="Please Enter Name" ng-required="true"/>
                  </div>
                  <span ng-show="updatesubmitted && benelistForm.BeneficiaryName.$error.required" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2">Beneficary Address Line1
                  </label>
                  <div class="col-md-3">
                     <input type="text" class="form-control " name="StreetName" ng-model="Beneficiary.BankAddressLine1" placeholder="Please Enter Address Line 1"/>
                  </div>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2">Beneficary Address Line2
                  </label>
                  <div class="col-md-3">
                     <input type="text" class="form-control " name="BuildingNo" ng-model="Beneficiary.BankAddressLine2" placeholder="Please Enter Address Line 2"/>
                  </div>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2"> City
                  </label>
                  <div class="col-md-3">
                     <input type="text" class="form-control " name="PostalCode" ng-model="Beneficiary.City" placeholder="Please Enter City"/>
                  </div>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2"> State
                  </label>
                  <div class="col-md-3">
                     <input type="text" class="form-control " name="PostalCode" ng-model="Beneficiary.State" placeholder="Please Enter State"/>
                  </div>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2"> Post Code
                  </label>
                  <div class="col-md-3">
                     <input type="text" class="form-control " name="PostalCode" ng-model="Beneficiary.PostCode" placeholder="Please Enter Post Code"/>
                  </div>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2"> Country
                  </label>
                  <div class="col-md-3">
                     <input type="text" class="form-control " name="Country" ng-model="Beneficiary.Country" placeholder="Please Enter Country"/>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="panel rolesPanel">
         <div class="panel-heading fileListStyle" ng-click="isRemittanceInformationCollapsed = !isRemittanceInformationCollapsed">
            <span class="bold">Remittance Information</span>
            <div class="pull-right">
               &nbsp;&nbsp;&nbsp;<i style="padding-top:2px;" class="pull-right bold fa fa-angle-right" ng-class="{'fa-angle-down': !isRemittanceInformationCollapsed, 'fa-angle-right': isRemittanceInformationCollapsed}"></i>
            </div>
         </div>
         <div collapse="isRemittanceInformationCollapsed">
            <div class="row" style="margin: 15px !important;">
               <div class="form-group">
                  <label class="control-label col-md-2">Remittance Information
                  </label>
                  <div class="col-md-9">
                     <textarea class="form-control" style=" resize: none; " maxlength="{{RemitInfoMaxLength}}" cols="70" rows="4" placeholder="Please Enter Remittance Information" ng-model="RemittanceInformation.RemittanceInformation" id="idforNotes"></textarea>
                     <span id="lCnt" ng-if="service11">{{RemitInfoMaxLength}} Characters Left</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="panel rolesPanel">
         <div class="panel-heading fileListStyle" ng-click="isPaymentInfoCollapsed = !isPaymentInfoCollapsed">
            <span class="bold">Intermediary Bank Details</span>
            <div class="pull-right">
               &nbsp;&nbsp;&nbsp;<i style="padding-top:2px;" class="pull-right bold fa fa-angle-right" ng-class="{'fa-angle-down': !isPaymentInfoCollapsed, 'fa-angle-right': isPaymentInfoCollapsed}"></i>
            </div>
         </div>
         <div collapse="isPaymentInfoCollapsed">
            <div class="row" style="margin: 30px !important;">
               <div class="form-group">
                  <div class="form-group">
                     <label class="control-label col-md-2">Bank Identifier Type
                     </label>
                     <div class="col-md-3">
                        <select class="form-control checkSelectEntry" name="BankIdentifierType" ng-model="IntermediaryBankDetails.BankIdentifierType" ng-change="getBankIdentifierCode1(IntermediaryBankDetails.BankIdentifierType)">
                           <option value="">Select the Bank Identifier Code</option>
                           <option value="{{MT.ClearingSchemeCode}}" ng-repeat="MT in forUSRTP.BICCode track by $index">{{MT.ClearingSchemeCode}}</option>
                        </select>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-2">Bank Identifier Code
                     </label>
                     <div class="col-md-3">
                        <input type="text" ng-if="IntermediaryBankDetails.BankIdentifierType =='BIC'" class="form-control " name="BIC" ng-model="IntermediaryBankDetails.BankIdentifierCode" placeholder="Please Enter BIC" ng-blur="getBIC_Address(IntermediaryBankDetails.BIC)"/>
						
                        <select class="form-control " ng-if="IntermediaryBankDetails.BankIdentifierType!='BIC'" name="BIC" ng-model="IntermediaryBankDetails.BankIdentifierCode" ng-change="getBankDetails1(IntermediaryBankDetails)">
                           <option value="" selected disabled>Select the Bank Identifier Code</option>
                           <option value="{{BIC1234.SchemeParticipantIdentifer}}" ng-repeat="BIC1234 in BankIdentifierCode1234 track by $index">{{BIC1234.SchemeParticipantIdentifer}}</option>
                        </select>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-2">
                        Bank Name
                        <!-- <span class="alertMsg" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span> -->
                     </label>
                     <div class="col-md-3">
                        <input type="text" class="form-control " name="BeneficiaryBankName" ng-model="IntermediaryBankDetails.BankName" placeholder="Please Enter Bank Name"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-2">Address Line 1
                     </label>
                     <div class="col-md-3">
                        <input type="text" class="form-control " name="BeneficiaryBankAddressLine1" ng-model="IntermediaryBankDetails.BankAddressLine1" placeholder="Please Enter Address Line 1"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-2">Address Line 2
                     </label>
                     <div class="col-md-3">
                        <input type="text" class="form-control " name="BeneficiaryBankAddressLine2" ng-model="IntermediaryBankDetails.BankAddressLine2" placeholder="Please Enter Address Line 2"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-2">Address Line 3
                     </label>
                     <div class="col-md-3">
                        <input type="text" class="form-control " name="BeneficiaryBankAddressLine3" ng-model="IntermediaryBankDetails.BankAddressLine3" placeholder="Please Enter Address Line 3"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-2">
                        Country
                        <!-- <span class="alertMsg" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span> -->
                     </label>
                     <div class="col-md-3">
                        <input type="text" class="form-control " name="BeneficiaryBankCountry" ng-model="IntermediaryBankDetails.BankCountry" placeholder="Please Enter Country"/>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="panel rolesPanel">
        <div class="panel-heading fileListStyle">
            <span class="bold">Save as Template</span>
            <div class="pull-right">
                &nbsp;&nbsp;&nbsp;<i style="padding-top:2px;" class="pull-right bold fa fa-angle-right" ng-class="{'fa-angle-down': !SaveTemplate, 'fa-angle-right': SaveTemplate}"></i>
            </div>
        </div>
        <div>

            <div class="row" style="margin: 30px !important;">

                <div class="form-group">
                  
               <div class="form-group">
                    <label class="control-label col-md-2">Template Name
					<span class="alertMsg" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                    </label>
                    <div class="col-md-3">
                        <input type="text" class="form-control " ng-model="TemplateDetails.TemplateName" ng-required="true" placeholder="Please Enter Template Name" ng-blur="checkTemplateName(TemplateDetails.TemplateName)"/>
                        <input type="hidden" class="form-control " ng-init="TemplateDetails.MPITemplate_PK=MPITemplate_PK" ng-model="TemplateDetails.MPITemplate_PK"/>
						<span class="help-inline alert-warning" ng-show="templateOverride" style="display:block;margin:0;"><strong>Warning! </strong> Template with same name exists.  By saving with the same name, template could be <strong>overwritten</strong>.</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Roles Accessible
					<!-- <span class="alertMsg" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span> -->
                    </label>
                    <div class="col-md-3">
						<select class="form-control" name="RolesAccessible" ng-model="TemplateDetails.RolesAccessible">
                                <option value="">--Select--</option>
								<option value="Approver">Approver</option>
								<option value="Operator">Operator</option>
                            </select>
                            <span class="help-inline" ng-show="updatesubmitted && updateBusinessRuleform.Status.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Status 
					<span class="alertMsg" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                    </label>
                    <div class="col-md-3">
					<input type="text" class="form-control " ng-model="TemplateDetails.Status" value="ACTIVE"  ng-required="true" placeholder="Please Enter Status"/>
						<!-- <select class="form-control" name="Status" ng-model="TemplateDetails.Status" ng-required="true">
                                <option value="">--Select--</option>
                                <option ng-repeat="val in ['ACTIVE','SUSPENDED','CREATED','WAITINGFORAPPROVAL','APPROVED','FORREVISON','REJECTED','DELETED']" value="{{val}}">{{val}}</option>
                            </select>
                            <span class="help-inline" ng-show="updatesubmitted && updateBusinessRuleform.Status.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span> -->
                    </div>
                </div>
				
				<div class="form-group">
                    <label class="control-label col-md-2">Effective From Date					 
                        <span class="alertMsg" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                    </label>
					 <div class="input-group col-md-3 input-append" ng-class="{true: 'error'}[updatesubmitted && updateFXRateform.EffectiveFromDate.$invalid]" style="padding-right:15px;padding-left:12px;float:left;" >
                            <input class="form-control DatePicker" type="text" name="EffectiveFromDate" ng-model="TemplateDetails.EffectiveFromDate" placeholder="Please Select Effective From Date" ng-required="true"  onkeypress='return tabOrder(event)' ng-blur="multipleEmptySpace($event)" ng-focus="activatePicker($event)" ng-disabled="false">
                            <span class="input-group-addon cursorPointer" ><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>

                        <span class="help-inline" ng-show="updatesubmitted && updateFXRateform.EffectiveFromDate.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>
					
					
                </div>
				
				<div class="form-group">
                    <label class="control-label col-md-2">Effective Till Date					 
                        
                    </label>
					 <div class="input-group col-md-3 input-append" ng-class="{true: 'error'}[updatesubmitted && updateFXRateform.EffectiveTillDate.$invalid]" style="padding-right:15px;padding-left:12px;float:left;" >
                            <input class="form-control DatePicker" type="text" name="EffectiveTillDate" ng-model="TemplateDetails.EffectiveTillDate" placeholder="Please Select Effective Till Date"  onkeypress='return tabOrder(event)' ng-blur="multipleEmptySpace($event)" ng-focus="activatePicker($event)" ng-disabled="false">
                            <span class="input-group-addon cursorPointer" ><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>

                        <span class="help-inline" ng-show="updatesubmitted && updateFXRateform.EffectiveTillDate.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>
					
					
                </div>
				
            </div>

        </div>

    </div>

    </div>
      <input class="btn btnStyle" type="submit" value="Submit" ng-click="callPicker();updatesubmitted = true;">	
      <input class="btn btnStyle" type="reset" value="Reset" ng-click="Reload();SaveTemplate=false;">
      <!-- <input class="btn btnStyle" type="submit" value="Submit" ng-click="updatesubmitted = true;SaveTemplate=false;"> -->
   </form>



    </div>

</div>


<script>

	function isNumberKey(evt, element) {	

	var charCode = (evt.which) ? evt.which : event.keyCode
	if (charCode > 31 && (charCode < 48 || charCode > 57) && !(charCode == 46 || charCode == 8))
		return false;
	else {
		var len = $(element).val().length;
		var index = $(element).val().indexOf('.');
		if (index > 0 && charCode == 46) {
			return false;
		}
		if (index > 0) {
			var CharAfterdot = (len + 1) - index;			
			if (CharAfterdot > element.getAttribute("maxAllowDigit")) {
				return false;
			}
		}

	}
	return true;
}
		



$(document).ready(function () {

	$('.DatePicker').datepicker({
		format : "yyyy-mm-dd",
		showClear : true,
		autoclose : true,
		startDate : new Date()
	})

	$('.TimePicker').datetimepicker({
		format : 'HH:mm:ss',
		useCurrent : true
	});

	$('.input-group-addon').on('click focus', function (e) {
        
		$(this).prev().focus().click()
	});
})
</script>