
<!-- BEGIN PAGE HEADER-->
<div class="breadCrumb" ng-controller="activeController">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
           <a href="javascript:void(0);" translate ng-click="goToHome()">Sidebar.Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="javascript:void(0)">System Data</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#/app/taskdetails" translate>TaskDetails.PageTitle</a>
            <i class="fa fa-angle-right"></i>

        </li>
        <li>
            {{fromAddNew ? 'Add New' : ViewClicked ? 'View' : 'Edit'}}
        </li>
    </ul>
</div>


<div class ="animated bounce autoAdjustAlert bold" ng-repeat="alert in alerts" ng-style="{'top':alertStyle+'px','width':alertWidth+'px'}" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}" >
    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{alert.msg}}
</div>

<div ng-if="ViewClicked && !fromAddNew">
    <div class="panel panel-default" style="margin-top:40px;">

        <div class="panel-body" style="padding:9px 15px;background-color:#f9f9f9">
            <div class="col-md-10 serviceHeading" style="padding-left:0px;">
                <span class="ng-binding">{{strData[0].value}}</span>
            </div>
            <div class="col-md-2">
                <a style="display:inline-block" class="actionIcons" ng-style="(permission.U)? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}" ng-click="(permission.U)?gotoEdit():''" tooltip="{{(permission.U)?'Edit':'You don&lsquo;t have permission'}}"><i class="fa fa-pencil-square-o Iclr1"></i></a>
                <a style="display:inline-block" class="actionIcons" data-toggle="modal" data-target="{{(permission.D)?'#delPopup':''}}"  ng-style="(permission.D)? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}" tooltip="{{(permission.D)?'Delete':'You don&lsquo;t have permission'}}"><i class="fa fa-trash-o Iclr1"></i></a>
            </div>
        </div>
    </div>

    <div class="panel-group" style="border:1px solid #ccc;"  ng-if="ViewClicked && !fromAddNew">

        <div class="row" style="margin:0;line-height:30px;">
            <div class="row" style="margin:0;margin-top:10px;margin-bottom:34px;padding-left:0px;">
                <!--<div class="row col-md-12 col-sm-12 col-xs-12" style="margin: 0px; background-color: rgb(245, 245, 245);" ng-repeat="field in strData" ng-style="($index%2 == 0)?{'background-color': 'rgb(245, 245, 245)'}:{'background-color': '#fff'}" ng-if="field.label != 'IsParallel'">
                    <label class="control-label bold col-md-3 col-sm-4 col-xs-6" style="padding-right:0px;"><span class="col-md-10 ng-binding">{{field.label}}</span>
                        <span class="col-md-2 col-sm-2 col-xs-2">:</span>
                    </label>
                    <div class="control-label col-md-9 col-sm-9 col-xs-6 ng-binding subserviceInfo">
                        <span class="ng-binding">{{field.value}}</span>
                    </div>

                </div>-->


                <div class="row col-md-12 col-sm-12 col-xs-12 ng-scope" ng-repeat="field in strData" style="margin: 0px; background-color: rgb(245, 245, 245);" ng-style="($index%2 == 0)?{'background-color': 'rgb(245, 245, 245)'}:{'background-color': '#fff'}">
                    <label class="control-label bold col-md-3 col-sm-4 col-xs-6"><span class="col-md-10 col-sm-10 col-xs-10 ng-binding">{{field.label}}</span> <span class="col-md-2 col-sm-2 col-xs-2" style="padding:0">:</span> </label>

                    <div class="control-label col-md-9 col-sm-8 col-xs-6 ng-binding subserviceInfo ng-scope">
                        <span class="ng-binding">{{field.value}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Delete popup Window Start-->
<div class="modal fade" tabindex="-1" id="delPopup" role="dialog">
    <div class="modal-dialog modal-md" style="top: 200px;">
        <div class="modal-content modalbdy animated tada">
            <div class="modal-header" style="padding: 0px !important; border: 0px !important">
                <div class="iconBox"><i class ="exclaLine"></i><i class ="exclaDot"></i></div>
            </div>
            <div class="modal-body" style="padding: 0px !important; border: 0px !important">
                <h1>Are you sure?</h1>
                <h4>You will not be able to recover this Data!</h4>
            </div>
            <div class="modal-footer modalftr">
                <button tabindex="0" type="button" class="buton cancl" data-dismiss="modal">Cancel</button>
                <button tabindex="0" type="button" class="buton yess" ng-click="deleteData(TaskDetails);">Yes, delete it!</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete popup Window End-->





<div ng-if="!ViewClicked && !fromAddNew">

    <div class="pageTitle alertWidthonResize">
        <div class="row">
            <div class="col-sm-12 ng-binding" ng-style="{'color':(parentInput.fieldData | chooseColor)}" style="color: rgb(65, 85, 195);">
                <span>Edit Task Details</span>  <small>- All fields marked with an asterisk ( <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true" class="bold"> *&nbsp; </span> ) are mandatory.</small><br>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-sm-12">
                <small> All fields marked with an asterisk ( <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true" class="bold"> * </span> ) are mandatory.</small>
            </div>
        </div>-->
    </div>

    <div class="row">

        <form role="form" class="simple-form form-horizontal" name="updateTaskDetailsform" ng-submit="updateData(TaskDetails); updatesubmitted=false;">
            <div class="ForAddNewScroll" style="margin:0; max-height:600px; min-height:600px;">
                 <div class="control-group">
                    <div class="form-group ">
                        <label for="OfficeCode" class="control-label col-md-2" style='font-weight:bold;'>Office Code
                            <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                        </label>
                        <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && updateTaskDetailsform.OfficeCode.$invalid]">
                            <select class="form-control" type="text" name="OfficeCode" ng-model="TaskDetails.OfficeCode" ng-disabled="true" required>
                                <option value="">--Select--</option>
                                <option ng-repeat="val in dropVal" value="{{val.actualvalue}}">{{val.displayvalue}}</option>

                            </select>

                        </div>
                        <span class="help-inline" ng-show="updatesubmitted && updateTaskDetailsform.OfficeCode.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>

                    </div>

                    <div class=" form-group" >

                        <label for="Process Name" class="col-md-2 control-label" style="font-weight:bold;">Process Name
                            <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                        </label>
                        <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && updateTaskDetailsform.ProcessName.$invalid]">
                            <input class="form-control" type="text" name="ProcessName" ng-model="TaskDetails.ProcessName" placeholder="Please Enter Process Name" required ng-blur="multipleEmptySpace($event)">
                        </div>

                        <span class="help-inline" ng-show="updatesubmitted && updateTaskDetailsform.ProcessName.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>
                    </div>

                    <div class=" form-group">

                        <label for="Task Code" class="control-label col-md-2" style='font-weight:bold;'>Task Code
                            <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                        </label>
                        <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && updateTaskDetailsform.TaskCode.$invalid]">
                            <input class="form-control" type="text" name="TaskCode" ng-model="TaskDetails.TaskCode" placeholder="Please Enter Task Code" required ng-blur="multipleEmptySpace($event)" ng-disabled="true">
                        </div>
                        <span class="help-inline" ng-show="updatesubmitted && updateTaskDetailsform.TaskCode.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>

                    </div>

                     <div class=" form-group">

                        <label for="TaskType" class="control-label col-md-2" style='font-weight:bold;'>TaskType
                            <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                        </label>
                        <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && updateTaskDetailsform.TaskType.$invalid]">
                            <input class="form-control" type="text" name="TaskType" ng-model="TaskDetails.TaskType" placeholder="Please Enter Task Type" required ng-blur="multipleEmptySpace($event)">
                        </div>
                        <span class="help-inline" ng-show="updatesubmitted && updateTaskDetailsform.TaskType.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>

                    </div>

                    <div class=" form-group" >

                        <label for="Task Name" class="control-label col-md-2" style='font-weight:bold;'>Task Name
                            <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                        </label>
                        <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && updateTaskDetailsform.TaskName.$invalid]">
                            <input class="form-control" type="text" name="TaskName" ng-model="TaskDetails.TaskName" placeholder="Please Enter Task Name" required ng-blur="multipleEmptySpace($event)">
                        </div>
                        <span class="help-inline" ng-show="updatesubmitted && updateTaskDetailsform.TaskName.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>

                    </div>

                    <div class="form-group" >

                        <label for="Flow Name" class="control-label col-md-2" style='font-weight:bold;'>Flow Name
                            <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                        </label>
                        <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && updateTaskDetailsform.FlowName.$invalid]">
                            <input class="form-control" type="text" name="FlowName" ng-model="TaskDetails.FlowName" placeholder="Please Enter Flow  Name" ng-blur="multipleEmptySpace($event)" required>
                        </div>
                        <span class="help-inline" ng-show="updatesubmitted && updateTaskDetailsform.FlowName.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>

                    </div>

                    <div class=" form-group" >
                        <label for="Task Index" class="control-label col-md-2" style='font-weight:bold;'>Task Index
                            <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                        </label>
                        <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && updateTaskDetailsform.TaskIndex.$invalid]">
                            <input class="form-control" type="text" name="TaskIndex" ng-model="TaskDetails.TaskIndex" placeholder="Please Enter Task Index" required ng-blur="multipleEmptySpace($event)">
                        </div>
                        <span class="help-inline" ng-show="updatesubmitted && updateTaskDetailsform.TaskIndex.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>
                    </div>

                    <div class=" form-group" >
                        <label for="Task Config" class="control-label col-md-2" style='font-weight:bold;'>Task Config

                        </label>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="TaskConfig" ng-model="TaskDetails.TaskConfig" placeholder="Please Enter Task Config" ng-blur="multipleEmptySpace($event)">
                        </div>

                    </div>
                     <div class="form-group" >
                         <label for="Status" class="control-label col-md-2" style='font-weight:bold;'>Status
                             <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                         </label>
                         <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && updateTaskDetailsform.Status.$invalid]">
                             <select class="form-control" type="text" name="Status" value = "{{TaskDetails.Status}}" ng-model="TaskDetails.Status" required>
                                 <option value="">--Select--</option>
                                 <option ng-repeat="val in ['ACTIVE','SUSPENDED','CREATED','WAITINGFORAPPROVAL','APPROVED','FORREVISON','REJECTED','DELETED']" value="{{val}}">{{val}}</option>

                             </select>
                         </div>
                         <span class="help-inline" ng-show="updatesubmitted && updateTaskDetailsform.Status.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>
                     </div>


                     <div class=" form-group" >

                         <label for="Effective From Date" class="control-label col-md-2" style='font-weight:bold;'>Effective From Date
                             <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                         </label>
                         <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && updateTaskDetailsform.EffectiveFromDate.$invalid]">
                             <div class="input-group date date-picker" data-date-format="yyyy-mm-dd" data-date-viewmode="years" data-date-minviewmode="months">
                                 <input type="text" class="form-control" name="EffectiveFromDate" ng-model="TaskDetails.EffectiveFromDate" onkeypress='return tabOrder(event)' placeholder="Please Select Effective From Date" required>
                                 <span class="input-group-addon" ng-style="viewMe ? { 'pointer-events':'none'} : { 'pointer-events':'auto'}"><span class="glyphicon glyphicon-calendar"></span></span>
                             </div>

                         </div>
                         <span class="help-inline" ng-show="updatesubmitted && updateTaskDetailsform.EffectiveFromDate.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>

                     </div>
                     <div class=" form-group" >

                         <label for="Effective Till Date" class="control-label col-md-2" style='font-weight:bold;'>Effective Till Date

                         </label>
                         <div class="col-md-3" >
                             <div class="input-group date date-picker" data-date-format="yyyy-mm-dd" data-date-viewmode="years" data-date-minviewmode="months">
                                 <input type="text" class="form-control" name="EffectiveTillDate" ng-model="TaskDetails.EffectiveTillDate" onkeypress='return tabOrder(event)' placeholder="Please Select Effective Till Date" >
                                 <span class="input-group-addon" ng-style="viewMe ? { 'pointer-events':'none'} : { 'pointer-events':'auto'}"><span class="glyphicon glyphicon-calendar"></span></span>
                             </div>

                         </div>
                     </div>

                    <div style="clear:both"></div>

                </div>


            </div>


            <div class="col-xs-12" style="padding:15px;margin-top:15px;border-top:1px solid">
                <button type="submit" class="btn btnStyle clr" ng-click="updatesubmitted=true" tooltip="Submit"><span class="ng-binding">Save Changes</span></button>
                <button type="button" class="btn btnStyle clr" ng-click="updatesubmitted=false;gotoParent()" tooltip="Cancel"><span translate="" class="ng-scope">Cancel</span></button>
            </div>




        </form>

    </div>

</div>

<div ng-if="fromAddNew">
    <div class="pageTitle alertWidthonResize">
        <div class="row">
            <div class="col-sm-12 ng-binding" ng-style="{'color':(parentInput.fieldData | chooseColor)}" style="color: rgb(65, 85, 195);">
                <span>Add New Task Details</span>   <small>- All fields marked with an asterisk ( <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true" class="bold"> * </span> ) are mandatory.</small><br>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-sm-12">
                <small> All fields marked with an asterisk ( <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true" class="bold"> * </span> ) are mandatory.</small>
            </div>
        </div>-->
    </div>

    <div class="row">
        <form role="form" class="simple-form form-horizontal" name="updateTaskDetailsform" ng-submit="createData(TaskDetailsCreate); updatesubmitted=false;">
            <div class="ForAddNewScroll" style="margin:0; max-height:600px; min-height:600px;">

                <div class="control-group">
                    <div class="form-group ">
                        <label for="OfficeCode" class="control-label col-md-2" style='font-weight:bold;'>Office Code
                            <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                        </label>
                        <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && updateTaskDetailsform.OfficeCode.$invalid]">
                            <!--<input class="form-control" type="text" name="OfficeID" ng-model="TaskDetailsCreate.OfficeID" placeholder="Please Enter Office ID" required ng-blur="multipleEmptySpace($event)">-->

                            <select class="form-control" type="text" name="OfficeCode" value = "{{TaskDetailsCreate.OfficeCode}}" ng-model="TaskDetailsCreate.OfficeCode" required>
                                <option value="">--Select--</option>
                                <option ng-repeat="val in dropVal" value="{{val.actualvalue}}">{{val.displayvalue}}</option>

                            </select>

                        </div>
                        <span class="help-inline" ng-show="updatesubmitted && updateTaskDetailsform.OfficeCode.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>

                    </div>

                    <div class=" form-group" >

                        <label for="Process Name" class="col-md-2 control-label" style="font-weight:bold;">Process Name
                            <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                        </label>
                        <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && updateTaskDetailsform.ProcessName.$invalid]">
                            <input class="form-control" type="text" name="ProcessName" ng-model="TaskDetailsCreate.ProcessName" placeholder="Please Enter Process Name" required ng-blur="multipleEmptySpace($event)">
                        </div>

                        <span class="help-inline" ng-show="updatesubmitted && updateTaskDetailsform.ProcessName.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>
                    </div>

                    <div class=" form-group">

                        <label for="TaskCode" class="control-label col-md-2" style='font-weight:bold;'>Task Code
                            <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                        </label>
                        <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && updateTaskDetailsform.TaskCode.$invalid]">
                            <input class="form-control" type="text" name="TaskCode" ng-model="TaskDetailsCreate.TaskCode" placeholder="Please Enter Task  ID" required ng-blur="multipleEmptySpace($event)">
                        </div>
                        <span class="help-inline" ng-show="updatesubmitted && updateTaskDetailsform.TaskCode.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>

                    </div>
                    <div class=" form-group">

                        <label for="TaskType" class="control-label col-md-2" style='font-weight:bold;'>Task Type
                            <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                        </label>
                        <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && updateTaskDetailsform.TaskType.$invalid]">
                            <input class="form-control" type="text" name="TaskType" ng-model="TaskDetailsCreate.TaskType" placeholder="Please Enter Task Type" required ng-blur="multipleEmptySpace($event)">
                        </div>
                        <span class="help-inline" ng-show="updatesubmitted && updateTaskDetailsform.TaskType.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>

                    </div>

                    <div class=" form-group" >

                        <label for="Task Name" class="control-label col-md-2" style='font-weight:bold;'>Task Name
                            <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                        </label>
                        <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && updateTaskDetailsform.TaskName.$invalid]">
                            <input class="form-control" type="text" name="TaskName" ng-model="TaskDetailsCreate.TaskName" placeholder="Please Enter Task Name" required ng-blur="multipleEmptySpace($event)">
                        </div>
                        <span class="help-inline" ng-show="updatesubmitted && updateTaskDetailsform.TaskName.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>

                    </div>

                    <div class=" form-group" >

                        <label for="Flow Name" class="control-label col-md-2" style='font-weight:bold;'>Flow Name
                            <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                        </label>
                        <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && updateTaskDetailsform.FlowName.$invalid]">
                            <input class="form-control" type="text" name="FlowName" ng-model="TaskDetailsCreate.FlowName" placeholder="Please Enter Flow Name" ng-blur="multipleEmptySpace($event)" required>
                        </div>
                        <span class="help-inline" ng-show="updatesubmitted && updateTaskDetailsform.FlowName.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>
                    </div>

                    <div class="form-group" >

                        <label for="Task Index" class="control-label col-md-2" style='font-weight:bold;'>Task Index
                            <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                        </label>
                        <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && updateTaskDetailsform.TaskIndex.$invalid]">
                            <input class="form-control" type="text" name="TaskIndex" ng-model="TaskDetailsCreate.TaskIndex" placeholder="Please Enter Task Index" required ng-blur="multipleEmptySpace($event)">
                        </div>
                        <span class="help-inline" ng-show="updatesubmitted && updateTaskDetailsform.TaskIndex.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>

                    </div>

                   <!-- <div class="form-group" >
                        <label for="Is Parallel" class="control-label col-md-2" style='font-weight:bold;'>Is Parallel
                        </label>
                        <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && updateTaskDetailsform.IsParallel.$invalid]">
                            <select class="form-control" type="text" name="IsParallel" value = "{{TaskDetailsCreate.IsParallel}}" ng-model="TaskDetailsCreate.IsParallel">
                                <option value="">&#45;&#45;Select&#45;&#45;</option>
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>

                        </div>
                    </div>-->


                   <!-- <div class="form-group" >
                        <label for="Main Thread Timeout" class="control-label col-md-2" style='font-weight:bold;'>Main Thread Timeout
                        </label>
                        <div class="col-md-3" >
                            <input class="form-control" type="text" name="MainThreadTimeOut" ng-model="TaskDetailsCreate.MainThreadTimeOut" placeholder="Please Enter Main Thread Timeout" ng-blur="multipleEmptySpace($event)">
                        </div>
                    </div>-->
                    <div class="form-group" >
                        <label for="Task Config" class="control-label col-md-2" style='font-weight:bold;'>Task Config
                        </label>
                        <div class="col-md-3" >
                            <input class="form-control" type="text" name="TaskConfig" ng-model="TaskDetailsCreate.TaskConfig" placeholder="Please Enter Task Config" ng-blur="multipleEmptySpace($event)">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label for="Status" class="control-label col-md-2" style='font-weight:bold;'>Status
                            <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                        </label>
                        <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && updateTaskDetailsform.Status.$invalid]">
                            <select class="form-control" type="text" name="Status" value = "{{TaskDetailsCreate.Status}}" ng-model="TaskDetailsCreate.Status" required>
                                <option value="">--Select--</option>
                                <option ng-repeat="val in ['ACTIVE','SUSPENDED','CREATED','WAITINGFORAPPROVAL','APPROVED','FORREVISON','REJECTED','DELETED']" value="{{val}}">{{val}}</option>

                            </select>
                        </div>
                        <span class="help-inline" ng-show="updatesubmitted && updateTaskDetailsform.Status.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>
                    </div>


                    <div class=" form-group" >

                        <label for="Effective From Date" class="control-label col-md-2" style='font-weight:bold;'>Effective From Date
                            <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                        </label>
                        <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && updateTaskDetailsform.EffectiveFromDate.$invalid]">
                            <div class="input-group date date-picker" data-date-format="yyyy-mm-dd" data-date-viewmode="years" data-date-minviewmode="months">
                                <input type="text" class="form-control" name="EffectiveFromDate" ng-model="TaskDetailsCreate.EffectiveFromDate" onkeypress='return tabOrder(event)' placeholder="Please Select Effective From Date" required>
                                <span class="input-group-addon" ng-style="viewMe ? { 'pointer-events':'none'} : { 'pointer-events':'auto'}"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>

                        </div>
                        <span class="help-inline" ng-show="updatesubmitted && updateTaskDetailsform.EffectiveFromDate.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>

                    </div>
                    <div class=" form-group" >

                        <label for="Effective Till Date" class="control-label col-md-2" style='font-weight:bold;'>Effective Till Date

                        </label>
                        <div class="col-md-3" >
                            <div class="input-group date date-picker" data-date-format="yyyy-mm-dd" data-date-viewmode="years" data-date-minviewmode="months">
                                <input type="text" class="form-control" name="EffectiveTillDate" ng-model="TaskDetailsCreate.EffectiveTillDate" onkeypress='return tabOrder(event)' placeholder="Please Select Effective Till Date" >
                                <span class="input-group-addon" ng-style="viewMe ? { 'pointer-events':'none'} : { 'pointer-events':'auto'}"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>

                        </div>
                    </div>



                    <div style="clear:both"></div>

                </div>


            </div>


            <div class="col-xs-12" style="padding:15px;margin-top:15px;border-top:1px solid">
                <button type="submit" class="btn btnStyle clr" ng-click="updatesubmitted=true" tooltip="Submit"><span class="ng-binding">Add TaskDetails</span></button>
                <button type="button" class="btn btnStyle clr" ng-click="updatesubmitted=false;gotoParent()" tooltip="Cancel"><span translate="" class="ng-scope">Cancel</span></button>
            </div>




        </form>

    </div>
</div>


<script>
  $(document).ready(function(){
			$('.date').datepicker(
                  {   autoclose: true,
                      forceParse: false,
                      Default: true,
                      pickDate: true,
                      todayHighlight: false,

                  });
			})
$('[data-toggle="tooltip"]').tooltip();

</script>
