<style> 
.select2-container .select2-search__field {
    width: 100% !important;
}
 .info-row {
        padding: 15px 0;
        background: #e8e9eb;
        margin-bottom: 10px;
        box-shadow: 3px 3px 2px lightgrey;
        border-left: 4px solid #2d4063;
        //border-radius: 4px !important;
    }
    .field-info
    {
        padding: 5px 0px;
    }
</style>
    <div class="page-bar breadCrumb" ng-controller="activeController">
    <div class="row">
    <div class="col-md-6 ">
    <ul class="page-breadcrumb">
        
        <li>
             <i class="fa fa-cog"></i>
            <a href="javascript:void(0);" translate>Sidebar.PaymentModule</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li class="cursorPointer">
            <span onclick="sidebarMenuControl('PaymentModule', 'AllInstructions')" translate>Sidebar.DistributedInstructions</span>
        </li>
        
        

    </ul>
    </div>
    
   <div class="col-md-6 headerVals">
        <div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>

    </div>
    </div>
   
</div>

<div>
<div class="contentContainer">
        <div class="pageTitle alertWidthonResize">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title__container">
                        <h2 translate>DistributedInstructions.PageTitle</h2>
                        <p translate>DistributedInstructions.SubTitle</p>
                    </div>
                </div>
            </div>
        </div>

        <div ng-style="{'top':alertStyle+'px','width':alertWidth+'px'}" class="animated bounce autoAdjustAlert bold" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}" ng-repeat="alert in alerts">
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{alert.msg}}
        </div>
       
    <div class="searchholder">
        <div class="row">
            
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" ng-model="uorVal" placeholder="Unique Output Reference" class="searchBox ng-pristine ng-valid ng-touched" ng-keyup="getExistVal($event)">

                            <span class="input-group-addon search-addon" ng-click="uorSearch()" tooltip="Search" style="cursor:pointer;background-color:#fff;border:none;">
                                    <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>

                </form>
            </div>
          </div>
    </div>

       <div style="padding: 5px;background: #fff;">
        <div class="tobeFixed">
          <div class="row" style="margin:0;">
              <div class="countbar-title" style="margin-bottom: 10px;">
            <div class="col-md-6 col-sm-4 col-xs-4 ng-binding caption">
                <span class="highlight">{{datas.length}}</span> records shown
            </div>

            <div class="col-md-6 col-sm-8 col-xs-8" style="padding:0;">
                <div class="btn-group" style="float:right;box-sizing: border-box;">
                  
                    <button style="border: 1px solid #fff;box-sizing: border-box;border-right:0px;margin-left:5px" class="btn-trans" id="btn_1" ng-class="changeViewFlag?'disabledBtnColor':'cmmonBtnColors'" ng-click="changeViewFlag = !changeViewFlag" tooltip="List View"><i class="fa fa-list fa-fs14"></i></button>
                    <button style="border: 1px solid #fff;box-sizing: border-box;border-left:0px" class="btn-trans" id="btn_2" ng-class="!changeViewFlag?'disabledBtnColor':'cmmonBtnColors'" ng-click="changeViewFlag = !changeViewFlag" tooltip="Grid View"><i class="fa fa-table fa-fs14"></i></button>

                  
                </div>


                <div class="btn-group" style="float:right;border: 1px solid #fff;box-sizing: border-box;margin-left: 5px;" tooltip="Print">
                    <button class="btn-trans" ng-click="printFLpage()"><i class="fa fa-print fa-fs14"></i></button>
                </div>

                <div class="btn-group" style="float:right;border: 1px solid #fff;box-sizing: border-box;margin-left: 5px;" tooltip="Export to Excel">
                    <button class="btn-trans"  ng-click="exportToExcel()"><i class="fa fa-file-excel-o fa-fs14"></i></button>
                </div>

                <div class="btn-group" style="float:right;border: 1px solid #fff;box-sizing: border-box;margin-left: 5px;"
                     tooltip="Refresh">
                    <button class="btn-trans" ng-click="refresh()"><i class="fa fa-refresh fa-fs14"></i></button>
                </div>

                <div class="btn-group" style="float:right;box-sizing: border-box;margin-left:10px;">
                        <div class="dropdown customDropdown" style="float:right;border: 1px solid #fff;box-sizing: border-box;margin-left:10px;">
                            <button class="btn-trans dropdown-toggle" type="button" data-toggle="dropdown" tooltip="Select Dates"><span id="dropTxt" style="font-size:15px;">All</span>
                    <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-default pull-right" style="font-size:13px !important">
                                <li class="menuClass" ng-click="FilterByDate('all',$event)"><a translate>SelectDates.All</a></li>
                                <li class="menuClass" ng-click="FilterByDate('today',$event)"><a translate>SelectDates.Today</a></li>
                                <li class="menuClass" ng-click="FilterByDate('week',$event)"><a translate>SelectDates.Week</a></li>
                                <li class="menuClass" ng-click="FilterByDate('month',$event)"><a translate>SelectDates.Month</a></li>
                                <li class="menuClass" data-toggle="modal" data-target="#customDate"
                                    data-keyboard="true"><a translate>SelectDates.Custom</a>
                                </li>
                                <li style="pointer-events:none" ng-if="customDate.startDate && customDate.endDate">
                                    <P style="text-align:center;color:#000;">From - <b>{{customDate.startDate}}</b> <br/>to - <b>{{customDate.endDate}}</b></P>
                                </li>
                            </ul>
                        </div>
                    </div>


                

            </div>
            <div class="clearfix"></div>
              </div>
        </div>
        </div>


        <div class="modal fade" id="customDate" role="dialog" tabindex="-1" data-backdrop="static" ng-keydown="dummy($event)">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header modalHeaderColor">
                                        <button type="button" class="close" data-dismiss="modal" ng-click="filterCancel()">&times;</button>
                                        <h4 class="modal-title">Select the Dates</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form ng-submit="FilterByDate('custom')">
                                            <div class="col-md-12" style="padding:15px;">
                                                <div class="input-group date" data-date-format="yyyy-mm-dd" data-date-viewmode="years" data-date-minviewmode="months">
                                                    <input type="text" class="form-control" ng-model="customDate.startDate" id="CstartDate" style="width:100%" placeholder="From" ng-blur="removeFn()"
                                                        onkeypress="return tabOrder(event)" onpaste="return false" required>
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>

                                                    <span class="input-group-addon" style="border:none;background-color:transparent;">To</span>
                                                    <input type="text" class="form-control" ng-model="customDate.endDate" id="CendDate" style="width:100%" placeholder="To" ng-blur="removeFn()"
                                                        onkeypress="return tabOrder(event)" onpaste="return false" required>
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                </div>
                                            </div>
                                            <div class="col-md-12 txtCenter" style="padding:15px;">
                                                <button type="submit" id="okBtn" class="btn btnStyle">OK</button>
                                                <button type="reset" class="btn btnStyle" data-dismiss="modal" ng-click="CustomDatesReset()">Cancel</button>
                                                <button type="reset" class="btn btnStyle" ng-click="CustomDatesReset()">Reset</button>
                                            </div>
                                            <div style="clear:both"></div>
                                        </form>



                                    </div>
                                   
                                </div>

                            </div>
                        </div>


  <div class="alert alert-info alert-dismissable" ng-if="searchFound">
    <!--<a class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
    
    
        <p ng-if="uorFound"><strong>Search By Unique Output Reference</strong> - {{uorFound}}</p>
        <p ng-repeat="(x,y) in dateFilter" ng-if="y && x != 'all'" style="margin:0;word-wrap:break-word;">
           <b>Select Criteria</b>  - <span class="leftAlign">{{x | ucwords}}</span> 
            <span ng-repeat="date in dateArr">
                <span ng-if="!$first" class="leftAlign"> To </span> 
                <span class="leftAlign"> ({{date.ColumnValue}}) </span>
            </span>
        </p>

        <!--<p ng-show="week" style="margin:0;word-wrap:break-word;"><b>Select Criteria</b><span class="leftAlign">-</span><span class="leftAlign">Week</span><span class="leftAlign">({{weekStart}})</span>
        <span class="leftAlign">To</span><span class="leftAlign">({{weekEnd}})</span> </p>-->
                    


        <div class='button-wrapper' style="vertical-align:middle;">
             <input type="button" id="searchBtn" class="btn btn-sm btnStyle" value="Clear" ng-click="clearSearch()" style="display:block;float:right;"/>
        </div>
        <div class="clearfix"></div>

</div>


<div class="alert alert-warning" ng-show="!datas.length">
    <strong><h4  style="margin:0;text-align:center;"><i class="fa fa-warning"></i> No Records Found</h4></strong>
</div>

<div class="listView" style="margin:0;" ng-show="changeViewFlag">




     <div ng-repeat="data in datas">
        <div class="info-row" style="cursor:pointer" >
            <div class="col-md-12" ng-click="detail(data,$event)"> 
                 
                    <div class="col-md-4" ng-repeat="val in sortMenu" ng-if="val.visible" >
                          <div class="field-info">
                         
                                <span class="bold">{{val.label}} :</span>
                                     <span ng-if="(val.FieldName != 'OutputMessage') && (val.FieldName != 'SentDate')">{{data[val.FieldName]}}</span>

                                 <span ng-if="val.FieldName == 'SentDate'">{{data[val.FieldName] | dateFormat}}</span>

                                 <span ng-if="val.FieldName == 'OutputMessage'"><span class="bold cursorPointer" style="text-decoration:underline;" tooltip="Download" ng-click="textDocDownload(data)"><i class="fa fa-download" aria-hidden="true" style="padding: 0 13px;"></i></span></span>
                           
                            </div>

                    </div>
                   
            </div>
                <div class="clearfix"></div>    
        </div>
    </div>
</div>

 <div class="listView FixHead dataGroupsScroll" style="margin:0px;overflow-x:auto !important;margin-bottom:20px;max-height:525px !important;" ng-show="!changeViewFlag">

            <div class="table-responsive" ng-show="datas.length">
                 <table class="table table-striped table-bordered table-hover" ng-show="!alertMsg ">
                    <thead>
                        <tr>
                            <th ng-class="{'cursorPointer':(val.FieldName != 'OutputMessage')}" ng-repeat="val in sortMenu" ng-if="val.visible" ng-click="(val.FieldName != 'OutputMessage')?gotoSorting(val,$index,$event):''"> {{val.label}} 

                                <span id="{{val.FieldName}}_Icon" class=""></span>
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="cursorPointer" ng-repeat="data in datas" >
                            <td ng-repeat="val in sortMenu" ng-if="val.visible" ng-click="(val.FieldName != 'OutputMessage')?detail(data,$event):''">
                                <span ng-if="val.FieldName == 'SentDate'"> {{data[val.FieldName] | dateFormat}} </span>
                                <span ng-if="(val.FieldName != 'OutputMessage') && (val.FieldName != 'SentDate')"> {{data[val.FieldName]}} </span>
                                <span ng-if="val.FieldName == 'OutputMessage'"> 
                                     <span class="bold cursorPointer" style="text-decoration:underline" ng-click="textDocDownload(data)"><i class="fa fa-download" aria-hidden="true"></i> Download</span>
                                </span>
                            </td>    
                            <!--<td ng-click="detail(val)">{{val.OfficeCode}}</td>
                            <td ng-click="detail(val)">{{val.UniqueOutputReference}}</td>
                            <td ng-click="detail(val)">{{val.DestinationChannel}}</td>
                            <td ng-click="detail(val)">{{val.SentDate | dateFormat}}</td>-->
                            <!--<td>
                               <span class="bold cursorPointer" style="text-decoration:underline" ng-click="textDocDownload(val)"><i class="fa fa-download" aria-hidden="true"></i> Download</span>
                             </td>-->
                        </tr>
                     
                    </tbody>
                </table>
            </div>
</div>


        <div style='clear: both;'></div>

    

        </div>
    </div>

</div>

<script>
    $(document).ready(function(){
        customDateRangePicker('CstartDate','CendDate')

        $('.input-group-addon').on('click focus', function(e){
                $(this).prev().focus().click()
            })
    })
</script>