<style>
	.editHere .form-control {
		/*margin-top: 7px;*/
		margin-bottom: 8px !important;
	}
	.formDataGroup {
		margin: 5px 0;
	}
</style>
<!-- BEGIN PAGE HEADER-->
<!--<div class="breadCrumb" ng-controller="activeController">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="javascript:void(0);" translate ng-click="goToHome()">Sidebar.Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<i class="fa fa-user"></i>
			<a href="javascript:void(0);" translate>Sidebar.AdminPanel</a>
			<i class="fa fa-angle-right"></i>
		</li>

		<li translate>
			Sidebar.UserManagement
		</li>
	</ul>

</div>-->
<div class="page-bar breadCrumb" ng-controller="activeController">
	<div class="row">
		<div class="col-md-6 ">
			<ul class="page-breadcrumb">

				<li>
					<i class="fa fa-user"></i>
					<a href="javascript:void(0);" translate>Sidebar.AdminPanel</a>
					<i class="fa fa-angle-right"></i>
				</li>
				<li>
					<span translate>Sidebar.UserManagement</span>
				</li>
			</ul>
		</div>
		<!--<div style="clear:both">    </div>-->
		<div class="col-md-6 headerVals">
			<div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>

		</div>
	</div>

</div>
<div class="contentContainer">
	<div class="pageTitle">
		<div class="row">
			<div class="col-sm-5">
				<div class="title__container">
					<h2 translate>UserManagement.PageTitle</h2>
					<p translate>UserManagement.SubTitle</p>
				</div>
			</div>
			<!--<div class="col-sm-7">
			<div class="text-right">
				<a href="#" ng-init="creatingWindow=true"  class="btn btn-md btnStyle clr pull-right" tooltip="Add User" ng-click="goToCreateUser();"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>&nbsp; <span translate>UserManagement.AddUser</span></a>
			</div>
			<div class="btn-group"  style="float:right;margin-right:8px;">
				<button class="btn btn-md viewbtn" id="btn_1" ng-click="hello('list',$event)" data-toggle="tooltip" title="{{listTooltip}}"><i class="fa fa-list"></i></button>
				<button class="btn btn-md viewbtn" id="btn_2" ng-click="hello('grid',$event)" data-toggle="tooltip" title="{{gridTooltip}}"><i class="fa fa-table"></i></button>
			</div>
		</div>-->
		</div>





	</div>

	<div class="animated bounce bold" ng-repeat="alert in alerts" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}">
		<a class="close" data-dismiss="alert" aria-label="close">&times;</a> {{alert.msg}}
	</div>


	<!--<div class="row ng-scope CountBar" style="margin:0px 0px 20px 0px;padding: 5px;box-sizing: border-box;background-color: #44b6ae;color: white;">
	<div class="col-md-6 col-sm-4 col-xs-12 ng-binding" style="padding: 5px; font-size: 17px; padding-left: 25px;">
		{{restVal.length}} records shown
	</div>-->
	<div class="row" style="margin: 0;">
		<div class="countbar-title">
			<div class="col-md-3 col-sm-3 col-xs-3  ng-binding" style="padding: 0;">
				<div class="caption">
					<span class="highlight">{{restVal.length}}</span> records shown
				</div>
			</div>

			<div class="col-md-9 col-sm-9 col-xs-9">
				<div class="btn-group" style="float:right;border: 1px solid #fff;box-sizing: border-box;">


					 <button style="border: 1px solid #fff;box-sizing: border-box;border-right:0px;margin-left:5px" class="btn-trans" id="btn_1" ng-class="changeViewFlag?'disabledBtnColor':'cmmonBtnColors'" ng-click="changeViewFlag = !changeViewFlag" tooltip="List View"><i class="fa fa-list fa-fs14"></i></button>
                    <button style="border: 1px solid #fff;box-sizing: border-box;border-left:0px" class="btn-trans" id="btn_2" ng-class="!changeViewFlag?'disabledBtnColor':'cmmonBtnColors'" ng-click="changeViewFlag = !changeViewFlag" tooltip="Grid View"><i class="fa fa-table fa-fs14"></i></button>
				</div>


				<div class="btn-group" style="float:right;border: 1px solid #fff;box-sizing: border-box;margin-left:10px;margin-right:10px;">
					<button class=" btn-trans" tooltip="Print" ng-click="printFn()"><i class="fa fa-print fa-fs14"></i></button>
				</div>

				<div class="btn-group" style="float:right;border: 1px solid #fff;box-sizing: border-box;margin-left:10px;">
					<button class=" btn-trans" tooltip="Export to Excel" ng-click="exportToExcel($event)"><i class="fa fa-file-excel-o fa-fs14"></i></button>
				</div>

				<div class="btn-group" style="float:right;border: 1px solid #fff;box-sizing: border-box;margin-left:10px;">
					<button ng-click="loadData()" class=" btn-trans" tooltip="{{'Refresh'}}"><i class="fa fa-refresh fa-fs14"></i></button>
				</div>

				<div class="btn-group ng-scope" style="float:right;border: 1px solid #fff;box-sizing: border-box;margin-left:10px;">
					<button style="box-sizing: border-box;" class=" btn-trans ng-scope" ng-init="creatingWindow=true" tooltip="{{(permission.C)?'Add New User':'You don&lsquo;t have permission'}}"
					 ng-style="(permission.C)? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}" ng-click="(permission.C)?goToCreateUser():''"><i class="fa fa-plus-square fa-fs14"></i></button>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!--</div>-->



	<div style="position:relative;">
		<div class="row">
			<div class="col-md-12">
				<div class="listView FixHead dataGroupsScroll" style="overflow-x:auto !important" id="" ng-show="!changeViewFlag">

					<table class="table table-bordered">
						<thead>
							<tr style="border:none">
								<th nowrap class="tableHeader">
									Action
								</th>
								<th nowrap class="tableHeader cursorPointer" ng-click="Sorting('UserID');">
									User ID
									<span ng-show="orderByField == 'UserID' && !SortReverse" class="fa fa-caret-up"></span>
									<span ng-show="orderByField == 'UserID' && SortReverse" class="fa fa-caret-down"></span>

								</th>
								<th nowrap class="tableHeader cursorPointer" ng-click="Sorting('FirstName');">
									First Name
									<span ng-show="orderByField == 'FirstName' && !SortReverse" class="fa fa-caret-up"></span>
									<span ng-show="orderByField == 'FirstName' && SortReverse" class="fa fa-caret-down"></span>
								</th>
								<th nowrap class="tableHeader cursorPointer" ng-click="Sorting('LastName');">
									Last Name
									<span ng-show="orderByField == 'LastName' && !SortReverse" class="fa fa-caret-up"></span>
									<span ng-show="orderByField == 'LastName' && SortReverse" class="fa fa-caret-down"></span>
								</th>
								<th nowrap class="tableHeader cursorPointer" ng-click="Sorting('EmailAddress');">
									Email ID
									<span ng-show="orderByField == 'EmailAddress' && !SortReverse" class="fa fa-caret-up"></span>
									<span ng-show="orderByField == 'EmailAddress' && SortReverse" class="fa fa-caret-down"></span>
								</th>



								<th nowrap class="tableHeader cursorPointer" ng-click="Sorting('RoleID');">
									Role ID
									<span ng-show="orderByField == 'RoleID' && !SortReverse" class="fa fa-caret-up"></span>
									<span ng-show="orderByField == 'RoleID' && SortReverse" class="fa fa-caret-down"></span>
								</th>

								<th nowrap class="tableHeader cursorPointer" ng-click="Sorting('Status');">
									Status
									<span ng-show="orderByField == 'Status' && !SortReverse" class="fa fa-caret-up"></span>
									<span ng-show="orderByField == 'Status' && SortReverse" class="fa fa-caret-down"></span>
								</th>
								<th nowrap class="tableHeader cursorPointer" ng-click="Sorting('IsForceReset');">
									Force Reset
									<span ng-show="orderByField == 'IsForceReset' && !SortReverse" class="fa fa-caret-up"></span>
									<span ng-show="orderByField == 'IsForceReset' && SortReverse" class="fa fa-caret-down"></span>
								</th>
								<th nowrap class="tableHeader cursorPointer" ng-click="Sorting('TimeZone');">
									Time Zone
									<span ng-show="orderByField == 'TimeZone' && !SortReverse" class="fa fa-caret-up"></span>
									<span ng-show="orderByField == 'TimeZone' && SortReverse" class="fa fa-caret-down"></span>
								</th>

							</tr>

						</thead>
						<tbody>

							<tr id={{'displayingWindow_'+$index}} class="displayWindow collapse in" ng-repeat-start="userData in restVal" ng-class="{oddClas:($index%2)== 0}">

								<td class="text-center">
									<a ng-click="toggleWindow(userData,$index,true);" tooltip="View"><i class="fa fa-eye Iclr viewediticon"></i></a>									|
									<a ng-click="(permission.U)?toggleWindow(userData,$index,false):''" ng-style="(permission.U)? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}"
									 tooltip="{{(permission.U)?'Edit':'You don&lsquo;t have permission'}}"><i class="fa fa-pencil-square-o Iclr viewediticon"></i></a>
								</td>
								<td>{{userData.UserID}}</td>
								<td>{{userData.FirstName}}</td>
								<td>{{userData.LastName}}</td>
								<td>{{userData.EmailAddress}}</td>

								<td>
									<span ng-if="userData.Role != '--Select--'">{{userData.RoleID}}</span></td>
								<td>
									<span style="display:none">{{userData.Status}}</span>

									<span ng-if="userData.Status != '--Select--'">
					<span ng-if="userData.Status=='ACTIVE'"><i class="fa fa-check-circle" aria-hidden="true" style="color:#028202;font-size:17px;"></i></span>
									<span ng-if="userData.Status == 'INACTIVE'"><i class="fa fa-minus-circle" aria-hidden="true" style="color:#FF3232;font-size:17px;"></i></span>
									</span>
								</td>
								<td>

									<span style="display:none;">{{userData.IsForceReset}}</span>


									<span ng-if="userData.IsForceReset=='true' || userData.IsForceReset == true"><i class="fa fa-toggle-on" aria-hidden="true" style="color:#028202;font-size:17px;"></i></span>
									<span ng-if="userData.IsForceReset == 'false' || userData.IsForceReset == false"><i class="fa fa-toggle-off" aria-hidden="true" style="color:#FF3232;font-size:17px;"></i></span>


								</td>
								<td>
									{{userData.TimeZone}}
								</td>
							</tr>
							<tr ng-repeat-end="">

								<td id={{'editHere_'+$index}} class="editHere" colspan="14" style="padding:0 !important;">

									<form id={{'editingWindow_'+$index}} class="editWindow collapse" ng-submit="UpdateData(userData,'ViewMail2', $index)" style='margin:8px; margin-bottom:0px;'>
										<div class='row' style='margin:0'>



											<div class="form-group">
												<div class="col-md-3">
													<label class="bold">User ID <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
													<input class="form-control" type="text" name="UserID" ng-model="userData.UserID" placeholder="Please Enter User ID" ng-disabled="true"
													 required>
												</div>
												<div class="col-md-3">
													<label class="bold">First Name <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
													<input class="form-control" type="text" name="FirstName" ng-model="userData.FirstName" placeholder="Please Enter User Name"
													 ng-disabled="viewMe" required>
												</div>
												<div class="col-md-3">
													<label class="bold">Last Name <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
													<input class="form-control" type="text" name="LastName" ng-model="userData.LastName" placeholder="Please Last Name" ng-disabled="viewMe"
													 required>
												</div>
												<div class="col-md-3">
													<label class="bold">Email ID <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
													<input class="form-control" type="text" name="EmailAddress" ng-model="userData.EmailAddress" placeholder="Please Enter User Email ID"
													 ng-disabled="viewMe" id="ViewMail2" required>
												</div>


												<div style="clear:both"></div>
											</div>

											<div class="form-group">


												<div class="col-md-3">
													<label class="bold">Role ID<span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>

									<select class="form-control" ng-model="userData.RoleID"  ng-disabled="viewMe" required ng-if="userData.RoleID != 'Super Admin'">
									<option>--Select--</option>
									<option ng-repeat="option in selectOptions" value="{{option.value}}">{{option.label}}</option>
								</select>
													<input class="form-control" type="text" name="RoleID" ng-model="userData.RoleID" ng-disabled="true" required ng-if="userData.RoleID == 'Super Admin'">

												</div>

												<div class="col-md-3">
													<label class="bold">Status <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
													<select class="form-control" ng-model="userData.Status" required ng-disabled="viewMe">
										<option value="">--Select--</option>
										<option value="ACTIVE">ACTIVE</option>
										<option value="INACTIVE">INACTIVE</option>
								</select>

												</div>

												<div class="col-md-3">
													<label class="bold">Forced Reset <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>

													<select class="form-control" ng-model="userData.IsForceReset" required ng-disabled="viewMe">
									<option value="">--Select--</option>
									<option value="true">True</option>
									<option value="false">False</option>
								</select>
												</div>

												<div class="col-md-3">
													<label class="bold">Time Zone <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
													<select class="form-control appendSelect2 TZoneGrid" dropval="{{userData.TimeZone}}" name="TimeZone" ng-model="userData.TimeZone" id="TZoneGrid_{{$index}}"
													 ng-disabled="viewMe" required>
									
								</select>
												</div>
												<div style="clear:both"></div>
											</div>
											<div class="col-xs-12" style="padding:15px;" ng-hide="viewMe">
												<span class="pull-right">
								<button type="submit" class="btn btnStyle clr">Save</button>
								<button type="button" class="btn btnStyle clr" ng-click="cancelpressed($index)">Cancel</button>
							</span>
											</div>

											<div class="col-xs-12" style="padding:15px;" ng-show="viewMe">
												<span class="pull-right">
                    <button type="button" class="btn btnStyle clr" ng-style="(permission.U)? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}"  ng-click="(permission.U)?takeBackup(userData,$index,false):''" tooltip="{{(permission.U)?'Edit':'You don&lsquo;t have permission'}}">Edit</button>
					<!--button type="button" class="btn btnStyle clr" ng-click="removeUser(userData)">Delete</button-->
					<button type="button" class="btn btnStyle clr" ng-click="cancelpressed($index)" tooltip="Cancel">Cancel</button>
                </span>
											</div>
										</div>
									</form>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div >
			<!--<div class="col-md-2 panel paneltrans" >-->

			<div class="row listView" ng-show="changeViewFlag">
				<div class="col-md-2 col-sm-6" ng-repeat="userData in restVal" id="listViewPanelHeadingListview_{{$index}}">
					<div class="formDataGroup txtCenter" id="dataGroup_{{$index}}" style="height:340px;">
						
						<img src="themes/images/user.png" style="height: 150px;" alt="" class="img-circle img-responsive userProfileImg">

						<div>
						<h3 class="firstuser" style="word-break:break-all;font-size:18px;">{{userData.FirstName}} {{userData.LastName}}</h3>
						<h4 class="firstuser_role">{{userData.RoleID}}</h4>
						</div>
						
						<div ng-click="viewMe = true">
							<button type="button" class="btn btnStyle btn-xs" data-keyboard="true" data-toggle="modal" ng-click="userDataFn(userData,$index,true);"
							 data-target="#userList_{{$index}}" style="border-radius:25px !important;padding : 5px 10px;">
										 View Profile
									</button>
						</div>
					</div>
					<div class="modal fade" id="userList_{{$index}}" role="dialog" tabindex="-1" ng-keydown="dummy($event)" ng-click="modelhide($event)">
						<div class="modal-dialog">

							<div class="modal-content">
								<div class="modal-header modalHeaderColor">
									<button type="button" class="close" data-dismiss="modal" ng-click="filterCancel()">&times;</button>
									<h4 class="modal-title">User Data</h4>
								</div>
								<div class="modal-body">
									<div class="animated bounce bold" ng-repeat="alert in alerts3" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}">
										<a class="close" data-dismiss="alert" aria-label="close">&times;</a> {{alert.msg}}
									</div>
									<div id={ { 'editHere_'+$index}} class="editHere">
										<form name="updateUserInfo" id={ { 'editingWindow_'+$index}} class="editWindow form-inline simple-form" role="form" ng-submit="UpdateData(userData1,'ViewUserMail')">
											<div class='row' style='margin:0'>
												<div class="col-md-8">

													<div class="row">
														<label class="bold col-md-5">User ID <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
														<input class="form-control col-md-7" type="text" name="UserID" ng-model="userData1.UserID" placeholder="Please Enter User ID"
														 ng-disabled="true" required>
													</div>
													<div class="row">
														<label class="bold col-md-5">First Name <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
														<input class="form-control col-md-7" type="text" name="FirstName" ng-model="userData1.FirstName" placeholder="Please Enter User Name"
														 ng-disabled="viewMe" required>
													</div>
													<div class="row">
														<label class="bold col-md-5">Last Name <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
														<input class="form-control col-md-7" type="text" name="LastName" ng-model="userData1.LastName" placeholder="Please Last Name"
														 ng-disabled="viewMe" required>
													</div>
													<div class="row">
														<label class="bold col-md-5">Email ID <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
														<input class="form-control col-md-7" type="email" name="EmailAddress" ng-model="userData1.EmailAddress" placeholder="Please Enter User Email ID"
														 ng-disabled="viewMe" id="ViewUserMail" required>
													</div>
							<div class="row">
							<label class="bold col-md-5">Role ID<span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>

							<select class="form-control col-md-7" ng-model="userData1.RoleID"  ng-disabled="viewMe" required style="min-width:49%" ng-if="userData1.RoleID != 'Super Admin'">
							<option value="">--Select--</option>
							<option ng-repeat="option in selectOptions" value="{{option.value}}">{{option.label}}</option>
							</select> 

							<input class="form-control col-md-7" type="text" name="RoleID" ng-model="userData1.RoleID" ng-disabled="true" required ng-if="userData1.RoleID == 'Super Admin'">

							</div>


												</div>
												<div class="col-md-4">
													<img src="themes/images/user.png" alt="" class="img-circle img-responsive">
												</div>
												<div class="col-md-8">
													<div class="row" style="margin-top:0;">
														<label class="bold col-md-5">Status <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
														<select class="form-control col-md-7" ng-model="userData1.Status" required style="min-width:49%" ng-disabled="viewMe">
															<option value="">--Select--</option>
															<option value="ACTIVE">ACTIVE</option>
															<option value="INACTIVE">INACTIVE</option>
														</select>
													</div>
													<div class="row">
														<label class="bold col-md-5">Reset Password<span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
														<select class="form-control col-md-7" ng-model="userData1.IsForceReset" required ng-disabled="viewMe" style="min-width:49%">
															<option value="">--Select--</option>
															<option value="true">True</option>
															<option value="false">False</option>
														</select>
													</div>
													<div class="row">


														<label class="bold col-md-5">Time Zone <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
														<select required class="form-control col-md-4 appendSelect2 TZoneList" ng-value={{userData1.TimeZone}} dropval="{{userData1.TimeZone}}"
														 name="TimeZone" ng-model="userData1.TimeZone" id="TZoneList_{{$index}}" ng-disabled="viewMe" style="max-width:49%;">
															
														</select>
													</div>

												</div>
												<div class="col-md-4 txtCenter">
													<button type="button" class="btn btnStyle" ng-show="viewMe" ng-style="(permission.U)? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}"
													 ng-click="(permission.U)?viewMe = false:viewMe = true" tooltip="{{(permission.U)?'Edit':'You don&lsquo;t have permission'}}"><i class="fa fa-pencil-square-o"></i></button>
													<button type="submit" class="btn btnStyle" tooltip="Save" ng-hide="viewMe"><i class="fa fa-floppy-o"></i></button>
													<button type="button" class="btn btnStyle" data-dismiss="modal" tooltip="Cancel"><i class="fa fa-times"></i></button>
												</div>
											</div>
										</form>
									</div>

								</div>
								<!--<div class="modal-footer" style="text-align:center">
										<button type="button" class="btn btnStyle" ng-click="viewMe = false"><i class="fa fa-pencil-square-o"></i></button>
										<button type="submit" class="btn btnStyle"><i class="fa fa-floppy-o"></i></button>
										<button type="button" class="btn btnStyle" data-dismiss="modal"><i class="fa fa-times"></i></button>
								</div>-->
							</div>

						</div>
					</div>

				<!--</div>-->
			</div>
			<div class="clearfix"></div>
		</div>
	</div>

	<script>
		$('[data-toggle="tooltip"]').tooltip();
	/* ComponentsPickers.init();
	 $('body').on('click', function (e) {
    ComponentsPickers.init();
	})*/
	
	</script>